@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to branches </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
New code by User1
This is Line is edited by User1
This is Line1
This is Line2
This is Line3 ..User2
This is Line3 .. User1
This is Line4
This is Line5 - User1
This is Line5 - User2
This is Line6
This is Line is edited by User2
New Code by User2